<!DOCTYPE html>
<html lang="en">
<head>
    <title>Your form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<style>
    .container {
        border: solid white 2px;
        padding: 5%;
        color: white;
        margin: 5%;
        margin-top: 10%;
    }

    body {
        background-color: black;
    }

    .users {
        color: white;
    }
</style>
<body>

<div class="container">
    <h2 >Hello {{firstname}}!</h2>
    <h3>Welcome to your form.</h3>
    <br>
    <table style="width:100%; padding: 5px; border: solid white 2px; border-collapse: collapse;">
        <tr>{{#keyset}}<th style="border-right: solid white 2px;">{{.}}</th>{{/keyset}}</tr>
        <tr style="border-top: solid white 2px;">{{#values}}<td style=" border-right: solid white 2px;">{{.}}</td>{{/values}}</tr>
    </table>
    <br>
    <br>
    <a href="../userform" class="btn btn-primary">Back</a>
    <br>
    <br>
    <a href="../userapp/users" class="btn btn-primary">Home</a>
</div>
</body>
</html>
